$lightgreen: #357935;
$green: #01411c;
$white: #fff;
$offwhite: #fafafa;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);

$headings-font-weight: bold;
// $headings-margin-bottom: ($spacer/3);
